{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-3 py-5">
            <img class="backg-img" src="https://th.bing.com/th/id/OIG2.asaziK4RA2Awk5W_Bh3Q?w=1024&h=1024&rs=1&pid=ImgDetMain">
            <div class="card card-body bg-dark text-center" style="width: 25rem;">
                <h2>Change Password</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.old_password.id_for_label }}" class="form-label">Old Password</label><br>
                        {{ form.old_password }}
                        {% for error in form.old_password.errors %} <br>
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.new_password1.id_for_label }}" class="form-label">New Password</label><br>
                        {{ form.new_password1 }}
                        {% for error in form.new_password1.errors %} <br>
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirm New Password</label><br>
                        {{ form.new_password2 }} <br>
                        {% for error in form.new_password2.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}