{% extends 'base.html' %}

{% block content %}
<main class="container ">
    <div class="row text-center">
        <img class="backg-img" src="https://res-console.cloudinary.com/dwk5dysji/thumbnails/v1/image/upload/v1729015285/bWFpbl9vYjdhdHQ=/drilldown">
        <div class="col-md-4 offset-md-4 mt-5 py-5">
            <div class="card card-body bg-dark">
                <h1 class="text-center card-title element">Welcome to Wasaa</h1>
                <a href="{% url 'signin' %}" id="btn-signin" class="btn btn-primary element" >Signin</a>
                <a href="{% url 'signup' %}" id="btn-signup" class="btn btn-primary element" >Signup</a>
            </div>
        </div>
    </div>
</main>



{% endblock %}