{% extends 'base.html' %}

{% block content %}
<style>
    .dropdown-toggle::after {
        display: none !important; 
    }


    /* Estilos para el scrollbar */
    .reply::-webkit-scrollbar {
      width: 0;
    }

</style>
<main class="container">
    <div class="col-md-6 offset-md-3 mt-5">
        <ul class="list-group">
            <li class="list-group-item bg-dark border-white border-opacity-10">
                
                {% if user.is_authenticated and user == post.user %}                
                    <header class="d-flex justify-content-between align-items-center">
                        <a class="list-group-item bg-dark text-white border-0" href="{% url 'profile' post.user.username %}">
                            <div class="d-flex align-items-center">
                                <p class="fw-bold mb-0">{{ post.user.username }}</p>
                            </div>
                            <span class="text-secondary">{{ post.pub_date }}</span>
                        </a>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle mge-post-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                </svg>
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item edt-post" id="edt-post" href="{% url 'edit_post' post.user.username post.id %}">Edite</a>
                                <a class="dropdown-item del-post" id="del-post" href="{% url 'delete_post' post.user.username post.id %}">Delete</a>
                            </ul>
                        </div>
                   </header>
                {% else %}
                    <a class="list-group-item bg-dark text-white profile-link-box" href="{% url 'profile' post.user.username %}">
                        <header class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <p class="fw-bold mb-0">{{ post.user.username }}</p>
                            </div>
                            <span class="text-secondary">{{ post.pub_date }}</span>
                        </header>
                    </a>
                {% endif %}  
               <a class="list-group-item bg-dark text-white link-post" href="{% url 'post_detail' post.user.username post.id %}">
                   <div class="post_content">
                       <p>{{post.content}}</p>
                       {% if post.res and post.res.resource %}
                           <div class="post_res">
                            {% if post.res and post.res.resource %}
                                <div class="post_res">
                                    <img src="{{ post.res.resource.url }}" class="img-fluid" alt="Resource" style="border-radius: 25px;">
                                </div>
                            {% endif %}
                           </div>
                       {% endif %}
                   </div>
               </a>
               <hr class="text-white">
               <div class="text-center">                  
                   <a href="javascript:likePost('{{post.id}}')" class="btn btn-dark like-btn" style="height: 25px; padding: 0;">
                       <div class="d-flex justify-content-between">
                           <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" style="margin: 5px 5px 0;">
                               <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                           </svg>
                           <p id="likes-count-{{ post.id }}">
                               Likes: {{post.total_likes}}
                           </p>
                       </div>
                   </a>
                   <a href="{% url 'post_detail' post.user.username post.id %}" class="btn btn-dark comm-btn" style="height: 25px; padding: 0; margin: 0 20px;">
                       <div class="d-flex justify-content-between" style="height: 25px; padding: 0; margin: 0 20px;">
                           <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16" style="margin: 5px 5px 0;">
                               <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                           </svg>
                           <p>comments: {{ post.comment_count }}</p>
                       </div>
                   </a>
               </div>
           </li>
        </ul>      
        
        <!-- Comment Form -->
        <div class="comment-form">
            <form method="post" class="d-flex justify-content-between" id="comment-form">
                {% csrf_token %}
                {{ comment_form.content }}
                <button type="submit" class="btn btn-primary" style="height: 30px; padding: 2px; margin: 10px 15px;">Submit</button>
            </form>
            <hr>
        </div>
        <!-- Comments Section -->
        <div class="comments-section mt-5">
            <ul class="list-group mb-3">
                {% for comment in comments %}
                    <li class="list-group-item bg-dark text-bg-dark border-white border-opacity-10">
                        <a class="bg-dark text-white text-decoration-none" href="{% url 'profile' comment.user.username %}">
                            <header class="d-flex justify-content-between align-items-center">
                                
                                    <div class="d-flex align-items-center">
                                        <p  class="fw-bold mb-0">{{ comment.user.username }}</p>
                                    </div>
                                <span class="text-secondary">commented on {{ comment.created_at }}</span>
                            </header>
                        </a>
                        <div class="body_comm">
                            <p>{{ comment.content }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>



   

    </div>
</main>
<script>
    function autoExpand(textarea) {
      textarea.style.height = '50px'; // Resetea la altura
      textarea.style.height = textarea.scrollHeight + 'px'; // Ajusta la altura al scrollHeight
    }
</script>
<script>
    var csrfToken = '{{ csrf_token }}';
</script>



{% endblock %}