{% extends 'base.html' %}

{% block content %}
<style>
    .dropdown-toggle::after {
        display: none !important; 
    }
</style>
<main class="container">
    <div class="col-md-6 offset-md-3">
        <div class="banner-container">
            <img class="banner" src="{{ user_profile.get_banner_url }}" alt="profile Banner">
            <div class="banner-overlay d-flex justify-content-between" style="height: 8vh;">
                <h2>{{ pruser.username }}</h2>
                {% if user == pruser %}
                <!-- Opción para editar, eliminar y cerrar sesión -->
                <div class="dropdown">
                    <button class="btn bg-transparent dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="/logout">Logout</a>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'delete_user' pruser.username  %}">Delete Profile</a>
                        <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                    </ul>
                </div>
                {% else %}
                <div>
                    {% if is_following %}
                    <!-- Enlace para dejar de seguir a un usuario -->
                    <form id="unfollow-form" method="POST" action="{% url 'unfollow_user' pruser.username %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Unfollow</button>
                    </form>
                    {% else %}
                    <!-- Enlace para seguir a un usuario -->
                    <form id="follow-form" method="POST" action="{% url 'follow_user' pruser.username %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Follow</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="profil-info text-center mt-4">
            <img class="photo" src="{{ user_profile.get_photo_url }}" alt="profile Photo">
            <h1 class="display-3 py-5">{{ pruser.username }}</h1>
            {% if user == pruser %}
            <span>Hello, {{ user_profile.name }}</span>
            {% endif %}
        </div>
        
        <p class="fw-bold">
            <span>{{ followed_users|length }}</span>
            <span class="text-secondary"> Following</span>
            <span>{{ followers|length }}</span>
            <span class="text-secondary"> Followers</span>
        </p>
        


        <div class="container mt-5">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-bg-dark" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">Posts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-bg-dark" id="following-tab" data-bs-toggle="tab" data-bs-target="#following" type="button" role="tab" aria-controls="following" aria-selected="false">Following</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-bg-dark" id="followers-tab" data-bs-toggle="tab" data-bs-target="#followers" type="button" role="tab" aria-controls="followers" aria-selected="false">Followers</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <ul class="list-group">
                        {% for post in posts %}
                        <li class="list-group-item bg-dark border-white border-opacity-10">
                
                            <a class="list-group-item bg-dark text-white" href="{% url 'profile' post.user.username %}">
                               <header class="d-flex justify-content-between align-items-center">
                                   <div class="d-flex align-items-center">
                                       <p class="fw-bold mb-0">{{ post.user.username }}</p>
                                   </div>
                                   <span class="text-secondary">{{ post.pub_date }}</span>
                               </header>
                            </a>    
                           <a class="list-group-item bg-dark text-white" href="{% url 'post_detail' post.user.username post.id %}">
                               <div class="post_content">
                                   <p>{{post.content}}</p>
                                   {% if post.res and post.res.resource %}
                                       <div class="post_res">
                                           {% if post.res.resource.url %}
                                               {% if post.res.resource.url|lower|slice:"-3:" == "mp4" %}
                                                   <video  class="img-fluid" controls style="border-radius: 25px;">
                                                       <source src="{{ post.res.resource.url }}" type="video/mp4">
                                                       Your browser does not support the video tag.
                                                   </video>
                                               {% else %}
                                                   <img src="{{ post.res.resource.url }}" class="img-fluid" alt="Resource" style="border-radius: 25px;">
                                               {% endif %}
                                           {% endif %}
                                       </div>
                                   {% endif %}
                               </div>
                           </a>
                           <hr class="text-white">
                           <div class="text-center">                  
                               <a href="javascript:likePost('{{post.id}}')" class="btn btn-dark" style="height: 25px; padding: 0;">
                                   <div class="d-flex justify-content-between">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" style="margin: 5px 5px 0;">
                                           <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                       </svg>
                                       <p id="likes-count-{{ post.id }}">
                                           Likes: {{post.total_likes}}
                                       </p>
                                   </div>
                               </a>
                               <a href="{% url 'post_detail' post.user.username post.id %}" class="btn btn-dark" style="height: 25px; padding: 0; margin: 0 20px;">
                                   <div class="d-flex justify-content-between" style="height: 25px; padding: 0; margin: 0 20px;">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16" style="margin: 5px 5px 0;">
                                           <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                       </svg>
                                       <p>comments: {{ post.comment_count }}</p>
                                   </div>
                               </a>
                           </div>
                       </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                    <div class="follow-info mt-3">  
                        <ul>
                            {% for followed_user in followed_users %}
                                <li><a href="{% url 'profile' followed_user.username %}" class="fw-bold text-bg-dark" style="text-decoration: none;">{{ followed_user.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                    <div class="follow-info mt-3">
                        <ul>
                            {% for follower in followers %}
                                <li><a href="{% url 'profile' follower.username %}" class="fw-bold text-bg-dark" style="text-decoration: none;">{{ follower.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div> 
                </div>
            </div>
        </div>        
    </div>
</main>

<!-- Modal for Editing Profile -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProfileForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ profile_form.as_p }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var csrfToken = '{{ csrf_token }}';
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const editProfileForm = document.getElementById('editProfileForm');

        editProfileForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(editProfileForm);

            fetch("{% url 'edit_profile' user.username %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => response.text())
            .then(data => {
                document.querySelector('.modal-content').innerHTML = data;
                if (data.includes('has been updated successfully')) {
                    location.reload();
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>

{% endblock %}
